.cardWrapper {
  width: 280px;
  height: 180px;
  border: 1px solid grey;
  cursor: pointer;
  border-radius: 20px;
  margin-bottom: 20px;
  border-left: 4px solid gray;
  padding: 14px 20px;
}

.info {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.title {
  text-align: center;
  font-size: 18px;
}

.deadlineDate {
  margin-top: 16px;
  text-align: right;
}

.description {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 14px;
  color: #555;
}
